@import "../variables";

@keyframes wave {
  0% {
    transform: rotateZ(-1deg);
  }
  100% {
    transform: rotateZ(1deg);
  }
}

.page {
  position: relative;
  padding-top: 1px;
  .image {
    position: absolute;
    right: 10%;
    bottom: 40%;
    animation: right-in ease-in 5.7s;
    animation-iteration-count: infinite;
    &.image1 {
      width: 60%;
    }
  }
}

.page1 {
  background-color: $indigo;
}

.page2 {
  background-color: $cyan;
}

.page3 {
  background-color: $teal;
}

.page4 {
  background-color: $grey;
}

.description {
  position: absolute;
  top: 15%;
  left: 15%;
  font-size: 3.5rem;
  color: $white;
  animation: left-in ease-in 5.7s;
  animation-iteration-count: infinite;
}

@keyframes left-in {
  0% {
    margin-left: -50%;
    font-size: 1rem;
  }
  10% {
    margin-left: -50%;
    font-size: 1rem;
  }
  20% {
    margin-left: 0%;
    font-size: 3.5rem;
  }
  100% {
    margin-left: 0%;
    font-size: 3.5rem;
  }
}

@keyframes left-bottom-in {
  0% {
    margin-bottom: -50%;
    transform: rotateZ(0deg);
  }
  40% {
    margin-bottom: -50%;
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  60% {
    margin-bottom: 0%;
    transform: rotateZ(1080deg);
  }
  100% {
    margin-bottom: 0%;
    transform: rotateZ(1080deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animateButton {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  height: 80px;
  border-radius: 3px;
  font-size: 22px;
  opacity: 0.8;
  animation: fade-in ease-in 5.7s;
  animation-iteration-count: infinite;
}

@keyframes right-in {
  0% {
    margin-right: -50%;
  }
  10% {
    margin-right: 0%;
  }
  100% {
    margin-right: 0%;
  }
}
